<?xml version="1.0"?>
<BuildoutDeployment>
 <Environments>
   <EnvironmentPrefix name="PROD">
	   <InitiateDatabase>SJPRDBAA1</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>prod</Environment>
	   <FQDN>relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>15.11.1446.1</BuildNumber>
	   <PEPServername>10.100.125.22</PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <HealthVaultPassword>PASSWORD</HealthVaultPassword>
	   <Machines>
		<Machine>
			   <HwebName>SJPRWEB00.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.223</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEBXXSERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEBXXSERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>PASSWORD</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEBXXTASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>PASSWORD</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEBXXINIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEBXXINIT</InitiateAccount>
			   <InitiatePassword>PASSWORD</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB34.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.227</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB34SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB34SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>6p_YP+9j*4gX5f</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB34TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>Cn9.5-fB+D2p3*</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB34INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB34INIT</InitiateAccount>
			   <InitiatePassword>p+6N4G#b*nC37!</InitiatePassword>
			   <CodeDeployed>Removed</CodeDeployed>
		</Machine>
	   </Machines>	
  </EnvironmentPrefix>
 </Environments>
</BuildoutDeployment>