<?xml version="1.0"?>
<AccessPermissions>
	<Permission>
		<OUGroup>NT AUTHORITY\NETWORK SERVICE</OUGroup>
		<Folders>
			<Folder>E:\RelayHealth\AVScanDir,Modify</Folder>
			<Folder>E:\RelayHealth\Logs,FullControl</Folder>
			<Folder>E:\RelayHealth\Releases,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource,FullControl</Folder>
			<Folder>E:\RelayHealth\Logs,FullControl</Folder>
			<Folder>E:\RelayHealth\Logs\CoverageGroupImport,FullControl</Folder>
			<Folder>E:\RelayHealth\Logs\Relay,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\Attachments,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\AttachmentsTemp,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\Brands,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\PhysicianWebs,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\Themes,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource\PatientPhotos,FullControl</Folder>
			<Folder>E:\RelayHealth\Resource,FullControl</Folder>
		</Folders>
	</Permission>
	<Permission>
		<OUGroup>BUILTIN\IIS_IUSRS</OUGroup>
		<Folders>
			<Folder>C:\InetPub\Logs,Modify</Folder>
			<Folder>E:\RelayHealth\AVScanDir,Modify</Folder>
			<Folder>E:\RelayHealth\Logs\CoverageGroupImport,Modify</Folder>
			<Folder>E:\RelayHealth\Logs,Modify</Folder>
			<Folder>E:\RelayHealth\Logs\Relay,Modify</Folder>
			<Folder>E:\RelayHealth\Releases,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\Attachments,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\AttachmentsTemp,Modify</Folder>
		</Folders>
	</Permission>
	<Permission>
		<OUGroup>WEB_DL - E$</OUGroup>
		<Folders>
			<Folder>E:\,Modify</Folder>
			<Folder>E:\Config,Modify</Folder>
			<Folder>E:\MPI,Modify</Folder>
			<Folder>E:\RelayHealth,Modify</Folder>
			<Folder>E:\RelayHealth\Logs,Modify</Folder>
			<Folder>E:\RelayHealth\Logs\CoverageGroupImport,Modify</Folder>
			<Folder>E:\RelayHealth\Logs\Relay,Modify</Folder>
			<Folder>E:\RelayHealth\Releases,Modify</Folder>
			<Folder>E:\RelayHealth\Resource,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\Attachments,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\AttachmentsTemp,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\Brands,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\PhysicianWebs,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\Themes,Modify</Folder>
			<Folder>E:\RelayHealth\Resource\PatientPhotos,Modify</Folder>
			<Folder>E:\RelayHealth\ShuntedFaxes,Modify</Folder>
			<Folder>E:\RelayHealth\ShuntedEmails,Modify</Folder>
			<Folder>E:\RelayHealth\InteropShuntedEmails,Modify</Folder>
		</Folders>
	</Permission>
	<Permission>
		<OUGroup>WEB_DL - InetpubLogs$</OUGroup>
		<Folders>
			<Folder>C:\InetPub\Logs,Modify</Folder>
		</Folders>
	</Permission>
</AccessPermissions>