# The dotNet.config file controls which metrics are collected by the .NET
# Instrumentation Data Adapter (dotNet DA).  This template shows sample
# collect and nocollect commands to turn collection on or off for
# different categories of .NET metrics.  See the Configuration Guide
# for more detail.
#
# Remove the # comment characters and adapt the command to specify metrics of
# interest.  The commands take effect when the application server restarts.
#
# Commands allow asterisks (*) as wildcard characters at the beginning or
# end of arguments that specify object types for which to collect metrics
# (qualified class names or MBean attributes).  Because the dotNet DA uses the
# first command that matches, place more specific commands before less specific
# commands.
#
# Do this:
# collect class=OPNET.Services.Diagnostics.PerfAnalyzer method=*
# collect class=OPNET.Services.Diagnostics.*
#
# Not this (second collect command will be ignored):
# collect class=OPNET.Services.Diagnostics.*
# collect class=OPNET.Services.Diagnostics.PerfAnalyzer method=*
#
################################################################

# Prevent recursive web processing
nocollect class=System.Web.UI.Page

####### Excluded classes

nocollect class=RelayHealth.FileConverter.*
nocollect class=RelayHealth.Service.FaxManager.*
nocollect class=Aspose*

####### Collection of Method-level parameters

collect_generic class=RelayHealth.Interop.Services.Data.Messaging.InMessageInfo method=get_MessageType parameter=retval:MessageType
collect_generic class=RelayHealth.Interop.Services.Data.Messaging.InMessageInfo method=get_MessagePipeId parameter=retval:MessagePipeId
collect_generic class=RelayHealth.Interop.Services.Data.Messaging.InMessageInfo method=get_PracticeId parameter=retval:PracticeId
collect_generic class=RelayHealth.Interop.Services.Data.Messaging.InMessageInfo method=get_MessageState parameter=retval:MessageState

####### Collection of class-level metrics

collect_generic class=MongoDB.Driver* public=trace private=none category=MongoDB
collect_generic class=MassTransit.* public=all private=none category=MassTransit

collect_generic class=RelayHealth.Core.Services* public=trace private=none
collect_generic class=RelayHealth.Service* public=trace private=none
collect_generic class=RelayHealth.Interop* public=trace private=none