<?xml version="1.0"?>
<Environments>
	<Environment name="Demo">
		<Prefix>DE</Prefix>
		<Domain>RHF</Domain>
	</Environment>
	<Environment name="Perf">
		<Prefix>PE</Prefix>
		<Domain>RHF</Domain>
	</Environment>
	<Environment name="Stage">
		<Prefix>ST</Prefix>
		<Domain>RHF</Domain>
	</Environment>
	<Environment name="Prod">
		<Prefix>PR</Prefix>
		<Domain>RHF</Domain>
	</Environment>	
	<Environment name="Emtl">
		<Prefix>EM</Prefix>
		<Domain>RHF</Domain>
	</Environment>
	<Environment name="Inte">
		<Prefix>IN</Prefix>
		<Domain>RHF</Domain>
	</Environment>			
</Environments>