<?xml version="1.0"?>
<BuildoutDeployment>
 <Environments>
   <EnvironmentPrefix name="EMTL">
	   <InitiateDatabase>EMTLDBAA1</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>environment1</Environment>
	   <FQDN>environment1.relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>13.3.4.109127</BuildNumber>
	   <PEPServername>174.16.40.27</PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <Machines>
		<Machine>
			   <HwebName>EMTLWEB01.RHTLF.AD</HwebName> 
			   <MachineIp>174.16.15.60</MachineIp>
			   <Domain>RHTLF</Domain>
			   <PackageSource>E:\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHTLF.AD\EMTLWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>EMTLWEB01SERV@RHTLF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHTLF.AD\EMTLWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHTLF.AD\\EMTLWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHTLF.AD\EMTLWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>EMTLWEB01.RHTLF.AD</HwebName> 
			   <MachineIp>174.16.15.60</MachineIp>
			   <Domain>RHTLF</Domain>
			   <PackageSource>E:\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHTLF.AD\EMTLWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>EMTLWEB01SERV@RHTLF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHTLF.AD\EMTLWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHTLF.AD\\EMTLWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHTLF.AD\EMTLWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
	   </Machines>	
  </EnvironmentPrefix>
  <EnvironmentPrefix name="INTE">
	   <InitiateDatabase>SJINDBAA1</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>inte</Environment>
	   <FQDN>integration.relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>13.9.2.112415</BuildNumber>
	   <PEPServername></PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <Machines>
		<Machine>
			   <HwebName>SJINWEB01.RHF.AD</HwebName> 
			   <MachineIp>10.100.191.60</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJINWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJINWEB01SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJINWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJINWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJINWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJINWEB02.RHF.AD</HwebName> 
			   <MachineIp>10.100.191.61</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJINWEB02SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJINWEB02SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJINWEB02TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJINWEB02INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJINWEB02INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJINWEB03.RHF.AD</HwebName> 
			   <MachineIp>10.100.191.62</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJINWEB03SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJINWEB03SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJINWEB03TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJINWEB03INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJINWEB03INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJINWEB04.RHF.AD</HwebName> 
			   <MachineIp>10.100.191.63</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJINWEB04SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJINWEB04SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJINWEB04TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJINWEB04INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJINWEB04INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
	   </Machines>	
   </EnvironmentPrefix>
  <EnvironmentPrefix name="STAG">
	   <InitiateDatabase>SJSTDBAB2</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>stage</Environment>
	   <FQDN>stage.relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>12.1.2.101739</BuildNumber>
	   <PEPServername>10.100.125.22</PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <HealthVaultPassword>password</HealthVaultPassword>
	   <Machines>
		<Machine>
			   <HwebName>SJSTWEB01.RHF.AD</HwebName> 
			   <MachineIp>10.100.161.60</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJSTWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJSTWEB01SERV@rhf.ad</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJSTWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJSTWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJSTWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJSTWEB02.RHF.AD</HwebName> 
			   <MachineIp>10.100.161.61</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJSTWEB02SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJSTWEB02SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJSTWEB02TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJSTWEB02INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJSTWEB02INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJSTWEB03.RHF.AD</HwebName> 
			   <MachineIp>10.100.161.62</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJSTWEB03SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJSTWEB03SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJSTWEB03TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJSTWEB03INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJSTWEB03INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJSTWEB04.RHF.AD</HwebName> 
			   <MachineIp>10.100.161.63</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJSTWEB04SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJSTWEB04SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJSTWEB04TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJSTWEB04INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJSTWEB04INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
	   </Machines>	
  </EnvironmentPrefix>
  <EnvironmentPrefix name="DEMO">
  	   <InitiateDatabase>SJDEDBAA1</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>demo</Environment>
	   <FQDN>demo.relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>11.12.2.101474</BuildNumber>
	   <PEPServername>10.100.125.22</PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <Machines>
		<Machine>
			   <HwebName>SJDEWEB01.RHF.AD</HwebName> 
			   <MachineIp>10.100.151.60</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJDEWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJDEWEB01SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJDEWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJDEWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJDEWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJDEWEB02.RHF.AD</HwebName> 
			   <MachineIp>10.100.151.61</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJDEWEB02SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJDEWEB02SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJDEWEB02TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJDEWEB02INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJDEWEB02INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJDEWEB03.RHF.AD</HwebName> 
			   <MachineIp>10.100.151.62</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJDEWEB03SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJDEWEB03SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJDEWEB03TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJDEWEB03INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJDEWEB03INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJDEWEB04.RHF.AD</HwebName> 
			   <MachineIp>10.100.151.63</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJDEWEB04SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJDEWEB04SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJDEWEB04TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJDEWEB04INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJDEWEB04INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
	   </Machines>	
   </EnvironmentPrefix>
   <EnvironmentPrefix name="PERF">
	   <InitiateDatabase>SJPRDBAB2</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>perf</Environment>
	   <FQDN>perf.relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>13.11.2.113526</BuildNumber>
	   <PEPServername></PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <Machines>
		<Machine>
			   <HwebName>SJPEWEB01.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.60</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB01SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPEWEB02.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.61</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB02SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB02SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB02TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB02INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB02INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPEWEB03.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.62</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB03SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB03SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB03TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB03INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB03INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPEWEB04.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.63</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB04SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB04SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB04TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB04INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB04INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPEWEB05.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.64</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB05SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB05SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB05TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB05INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB05INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPEWEB06.RHF.AD</HwebName> 
			   <MachineIp>10.100.181.65</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPEWEB06SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPEWEB06SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPEWEB06TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPEWEB06INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPEWEB06INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>		
	   </Machines>	
   </EnvironmentPrefix>
   <EnvironmentPrefix name="PROD">
	   <InitiateDatabase>SJPRDBAA1</InitiateDatabase>
	   <AppFabricDatabase>AppFabricCacheConfiguration</AppFabricDatabase>
	   <Environment>prod</Environment>
	   <FQDN>relayhealth.com</FQDN>
	   <CorpsiteBuildNumber></CorpsiteBuildNumber>
	   <BuildNumber>15.9.1.123495</BuildNumber>
	   <PEPServername>10.100.125.22</PEPServername>
	   <InitiateDatabasePrefix></InitiateDatabasePrefix>
	   <InitiateDirectory>C:\hwebsource\Initiate\Initiate</InitiateDirectory>
	   <InitiateDestinationDir>E:\MPI\Project\Initiate</InitiateDestinationDir>
	   <HealthVaultPassword>password</HealthVaultPassword>
	   <Machines>
		<Machine>
			   <HwebName>SJPRWEB01.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.60</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB01SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>RHF.AD\SJPRWEB01SERV</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB01TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB01INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB01INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB02.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.61</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB02SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB02SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB02TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB02INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB02INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB03.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.62</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB03SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB03SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB03TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB03INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB03INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB04.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.63</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB04SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB04SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB04TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB04INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB04INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB05.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.64</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>SJPRWEB05SERV@RHF.AD</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB05SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB05TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB05INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB05INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB06.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.65</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB06SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB06SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB06TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB06INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB06INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB07.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.66</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB07SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB07SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB07TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB07INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB07INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB08.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.67</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB08SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB08SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB08TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB08INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB08INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB09.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.68</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB09SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB09SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB09TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB09INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB09INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB10.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.69</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB10SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB10SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB10TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB10INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB10INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB11.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.70</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB11SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB11SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB11TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB11INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB11INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>	
		<Machine>
			   <HwebName>SJPRWEB12.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.71</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB12SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB12SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB12TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB12INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB12INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB13.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.72</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB13SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB13SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB13TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB13INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB13INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>	
		<Machine>
			   <HwebName>SJPRWEB14.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.73</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB14SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB14SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB14TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB14INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB14INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB15.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.74</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB15SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB15SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB15TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB15INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB15INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB16.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.75</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB16SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB16SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB16TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB16INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB16INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB17.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.76</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB17SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB17SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB17TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB17INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB17INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB18.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.77</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB18SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB18SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB18TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB18INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB18INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB19.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.78</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB19SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB19SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB19TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB19INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB19INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB20.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.79</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB20SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB20SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB20TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB20INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB20INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB21.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.80</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB21SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB21SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB21TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB21INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB21INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB22.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.81</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB22SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB22SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB22TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB22INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB22INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB23.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.82</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB23SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB23SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB23TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB23INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB23INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB24.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.83</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB24SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB24SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB24TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB24INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB24INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB30.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.220</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB30SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB30SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB30TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB30INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB30INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB31.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.221</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB31SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB31SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB31TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB31INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB31INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB32.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.222</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB32SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB32SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB32TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB32INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB32INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>False</CodeDeployed>
		</Machine>
		<Machine>
			   <HwebName>SJPRWEB33.RHF.AD</HwebName> 
			   <MachineIp>10.100.105.223</MachineIp>
			   <Domain>RHB</Domain>
			   <PackageSource>F:\SCM\BuildOut\HwebSource</PackageSource>
			   <PackageDestination>C$\Hwebsource</PackageDestination>
			   <RelayServicesAccount>RHF.AD\SJPRWEB33SERV</RelayServicesAccount>
			   <HVRelayServicesAccount>SJPRWEB33SERV@RHF.AD</HVRelayServicesAccount>
			   <RelayServicespassword>password</RelayServicespassword>
			   <ScheduledTaskAccount>RHF.AD\SJPRWEB33TASK</ScheduledTaskAccount>
			   <ScheduledTaskPassword>password</ScheduledTaskPassword>
			   <InitiateenvAccount>RHF.AD\\SJPRWEB33INIT</InitiateenvAccount>
			   <InitiateAccount>RHF.AD\SJPRWEB33INIT</InitiateAccount>
			   <InitiatePassword>password</InitiatePassword>
			   <CodeDeployed>True</CodeDeployed>
		</Machine>
	</Machines>	
  </EnvironmentPrefix>
	
 </Environments>
</BuildoutDeployment>